/node_modules
/public/hot
/public/downloads
public/cookie.txt
/public/storage
/public/padron_extract/*
/public/padron_rar/*
/public/js/app.js
/public/css/app.css
/storage/*.key
/storage/backups/*
/storage/framework/laravel-excel/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
access_log
error_log
.env.dusk
.env.dusk.local
debug.log
phpunit.dusk.xml
docker-compose.yml
composer.lock
asdads
/ssh
/.project
/public/js/app.js~928135d3a470b1b755de5f52ec17025cf420fbca
public/_nuxt/*
public/js/*
package-lock.json